.header {
  background-color: #333;
  color: #a03939;
  padding: 1rem;
}

.navul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navulli {
  display: inline;
  margin-right: 1rem;
}

.button{
  background: none;
  border: none;
  color: #bd5d5d;
  cursor: pointer;
  font-size: 1rem;
}

.footer{
  background-color: #3f3b7a;
  color: #c22424;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.main {
  padding: 2rem;
}
.caja{
  background:color red;
  background-size: cover;
}
.contenedor_futer{
  height: 100px;
}
.contenedor_img{
  height: 100%;
  object-fit: cover;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}