.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  .character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .character-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 2px 2px 12px #aaa;
    width: 200px;
  }
  
  .character-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }