.social-media a {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
