/*este es  un comentario de css*/

.Central-texto {
  text-align: center;
}
.Central-caja {
  display: flex;
  justify-content: space-evenly;
}
.borde {
  border: 1px solid #e67c19;
  border-radius: 200px;
  padding: 8px;
  margin: 10px;
  background-color: aqua;
}
